<mat-grid-list
  cols="2"
  rowHeight="100px"
  class="welcomePage"
>
  <mat-grid-tile
    [colspan]="2"
    class="mat-display-2"
  >
    Welcome to the Movies App!
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="6">
    <mat-list>
      <p class="mat-display-1">
        Here you can:
      </p>
      <mat-list-item
        *ngFor="let ability of abilityList; trackBy: listTrackerService.trackList; index as i;"
        class="mat-display-2 welcomePage__listItem"
      >
        {{ i + 1 }}.&nbsp;{{ ability}}.
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="6">
    <img
      class="welcomePage__image"
      [src]="imagePath"
    >
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    class="mat-display-2"
  >
    Hope you will enjoy it!
  </mat-grid-tile>
</mat-grid-list>
