<mat-card
  class="movieCard"
  (click)="setCurrentMovie(movie.id)"
>
  <div
    class="movieAdultSign movieCard__adultSign"
    *ngIf="movie.adult"
  >
    18+
  </div>
  <app-favourite-star
    class="movieCard__star"
    [ngClass]="{'movieCard__star--top': !movie.adult}"
    [movie_id]="movie.id"
    [movie_title]="movie.title"
  ></app-favourite-star>
  <mat-card-header>
    <mat-card-title class="movieCard__title">
      {{ movie.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img
      class="movieCard__image"
      [src]="imagePath"
    >
  </mat-card-content>
  <mat-card-footer class="movieCard__footer">
    <app-movie-genres [movieGenresIds]="movie.genre_ids"></app-movie-genres>
  </mat-card-footer>
</mat-card>
