<mat-tab-group
  mat-align-tabs="center"
  animationDuration="0ms"
  [backgroundColor]="'primary'"
  [color]="'accent'"
  [selectedIndex]="(currentMovie$ | async) === -1 ? 0 : 3"
>
  <mat-tab label="Main page">
    <app-welcome-page></app-welcome-page>
  </mat-tab>
  <mat-tab label="Popular movies">
    <app-movies-list [moviesType]="'POPULAR'"></app-movies-list>
  </mat-tab>
  <mat-tab label="Your favourite movies">
   <app-favourite-movies-list></app-favourite-movies-list>
  </mat-tab>
  <mat-tab
    *ngIf="(currentMovie$ | async) !== -1"
    label="Movie information"
  >
    <app-movie-page></app-movie-page>
  </mat-tab>
</mat-tab-group>
