.movie-title {
  text-align: center;
}

.movie-adult-sign {
  top: 10px;
  right: 0px;
}

.movie-page {
  background: #efefef;
  height: calc(100vh - 48px) !important;
}

app-movie-favourite-star {
  position: absolute;
  top: 60px;
  right: -6px;
}

.movie-star-centered {
  top: 30px;
}

.info-content {
  display: inline-block;
  max-width: 500px;
}

.movie-overview-container {
  max-height: 200px;
}

.movie-overview {
  max-width: 75vh;
  padding: 30px;
  text-align: center;
}

.movie-recommendations {
  height: calc(100vh - 48px) !important;
}

.recommended-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.recommended-section__panel {
  width: 100%;
  background-color: #5f9ea0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
}

.recommended-section__header {
  padding: 0;
}
