<app-loader
  *ngIf="loading; else information"
  [text]="'Obtaining movie information...'"
></app-loader>

<ng-template #information>
  <div
    *ngIf="!movieInfo; else success"
    class="no-info mat-h2"
  >
    No movie info available.
  </div>

  <ng-template #success>
    <mat-grid-list
      class="movie-page"
      cols="8"
      rowHeight="111px"
    >
      <mat-grid-tile [colspan]="3">
        <mat-grid-list
          cols="1"
          rowHeight="fit"
          style="width: 100%; height: 100%"
        >
          <mat-grid-tile
            class="mat-h1 movie-title"
            [rowspan]="movieInfo.original_title !== movieInfo.title ? 2 : 1"
          >
            {{ movieInfo.title }}
          </mat-grid-tile>
          <mat-grid-tile
            *ngIf="movieInfo.original_title !== movieInfo.title"
            class="mat-h2"
          >
            {{ movieInfo.original_title }}
          </mat-grid-tile>
        </mat-grid-list>
        <div
          *ngIf="movieInfo.adult"
          class="movie-adult-sign"
        >
          18+
        </div>
        <app-movie-favourite-star
          [ngClass]="!movieInfo.adult ? 'movie-star-centered': ''"
          [movie_id]="movieInfo.id"
          [movie_title]="movieInfo.title"
        ></app-movie-favourite-star>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3">
        <p>Average user vote:&nbsp;</p>
        <p>{{movieInfo.vote_average}} out of 10</p>
      </mat-grid-tile>
      <mat-grid-tile
        class="movie-recommendations"
        [colspan]="2"
        [rowspan]="8"
      >
        <div class="recommended-section">
          <mat-expansion-panel
            class="recommended-section__panel"
            (opened)="showRecommended"
            (closed)="!showRecommended"
            (click)="toggleRecommended()"
          >
            <mat-expansion-panel-header class="recommended-section__header">
              <mat-panel-title>
                Recommended
              </mat-panel-title>
              <mat-panel-description>
                Movies which can be interesting for you
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <app-movie-list
            *ngIf="recommendedFirstShow"
            [ngStyle]="{'display': showRecommended ? 'block' : 'none'}"
            [getMovies]="getRecommendedMovies.bind(this)"
          ></app-movie-list>
        </div>
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="5"
      >
        <img
          height="510"
          [src]="imagePath"
        >
      </mat-grid-tile>
      <mat-grid-tile
        [colspan]="3"
        [rowspan]="5"
      >
        <mat-list>
          <h3 mat-header>
            Information
          </h3>
          <mat-list-item *ngFor="let info of movieInfoList">
            <b class="info-title">{{info.fieldName}}:&nbsp;</b>
            <p>{{info.value}}</p>
          </mat-list-item>
          <mat-list-item>
            <b class="info-title">
              Production countries:&nbsp;
            </b>
            <p>
          <span *ngFor="let country of movieInfo.production_countries; let i = index">
            {{country.name}}{{i + 1 < movieInfo.production_countries.length ? ', ' : ''}}
          </span>
            </p>
          </mat-list-item>
          <mat-list-item>
            <b class="info-title">
              Production companies:&nbsp;
            </b>
            <p class="info-content">
              <span *ngFor="let company of movieInfo.production_companies; let i = index">
                {{company.name}}{{i + 1 < movieInfo.production_companies.length ? ', ' : ''}}
              </span>
            </p>
          </mat-list-item>
          <mat-list-item *ngIf="movieInfo.genres.length">
            <b class="info-title">
              Genres:&nbsp;
            </b>
            <app-movie-genres [movieGenres]="movieInfo.genres"></app-movie-genres>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile
        class="movie-overview-container"
        [colspan]="6"
        [rowspan]="2"
      >
        <p class="movie-overview">
          {{ movieInfo.overview }}
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</ng-template>


